<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');
*{
margin:0;
padding:0;
}
html,
body{
 height: 100%;
 padding: 0;
 scroll-behavior: smooth;
 background: #878d96;
 color: black;
 font-family: 'Open Sans', sans-serif;
 font-weight: 300;
}


h2{
line-height: 1.25;
padding-top: 45px;
font-weight: 300;
font-size: 2em
}


svg{
padding: 0px;
}
text{
font-size: 20px;
}
p{
font-size: 1.5em;
}
strong{
font-weight: 600;
}
#graphic {
max-width:  1440px;
width: 100%;
position:   relative; 
height:  100%;
position:  relative; 
margin:auto;
}
  
.container {
  height: 100%;
  /* max-width: 50%; */
  width: 40%;
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  line-height: 1.5;
  right:0;
}
.container div {  
  height: 100%;
  display: block;
  padding: 10 0px;
}

.fixed {
  position: fixed;
  width:55%;
  top:1%;
  height:90%;
  left:0;
}





 </style>