<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,500,600,700');
*{
margin:0;
padding:0;
}
html,
body{
 height: 100%;
 padding: 0;
 scroll-behavior: smooth;
 background: #1192e8;
 /* color: black; */
 font-family: 'Open Sans', sans-serif;
 font-weight: 300;
}


h2{
line-height: 1.25;
padding-top: 45px;
font-weight: 700;
font-size: 2em;
color: white;
}


svg{
padding: 0px;
/* background-color: blue; */
}

#tooltip {
  overflow:hidden;
  position: absolute;
  display: none;
  background: rgba(0, 0, 0, .7);
  border-radius: 3px;
  box-shadow: -3px 3px 15px #939393;
  color: white;
  padding: 6px;
  font-family: "Merriweather";
  font-size: 1.1em;
  max-width: 400px;
  z-index: 100;
}

/* svg circle:hover{
  cursor: not-allowed;
} */
text{
font-size: 20px;
}
p{
font-size: 1.5em;
}
strong{
font-weight: 600;
color: #21272a;
}
#graphic {
max-width:  1440px;
width: 100%;
position:   relative; 
height:  100%;
position:  relative; 
margin:auto;
}
  
.container {
  height: 100%;
  /* max-width: 50%; */
  width: 40%;
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  line-height: 1.5;
  right:0;
}
.container div {  
  height: 100%;
  display: block;
  padding: 10 0px;
}

.fixed {
  position: fixed;
  width:55%;
  top:1%;
  height:90%;
  left:0;
}





 </style>